[workspace]
resolver = "2"
members = [
    "core/*",
    "bindings/*"
]

[workspace.dependencies]
ahash = "0.8.6"
async-trait = "0.1.77"
bincode = "2.0.0-rc.3"
bumpalo = "3.14.0"
chrono = "0.4.31"
criterion = "0.5.1"
fastrand = "2.0.1"
futures = "0.3.30"
humantime = "2.1.0"
once_cell = "1.19.0"
petgraph = "0.6.4"
phf = "0.11.2"
regex = "1.10.2"
regex-lite = "0.1.5"
serde = "1.0.195"
serde_json = "1.0.111"
hashbrown = "0.13.2"
rust_decimal = "1.33.1"
rust_decimal_macros = "1.33.1"

anyhow = "1.0.79"
thiserror = "1.0.50"

[profile.release]
lto = true
codegen-units = 1
strip = "symbols"