[package]
authors = ["GoRules Team <bot@gorules.io>"]
description = "Business rules engine"
name = "zen-engine"
license = "MIT"
version = "0.20.0"
edition = "2021"
repository = "https://github.com/gorules/zen.git"

[lib]
doctest = false

[dependencies]
async-trait = { workspace = true }
async-recursion = "1.0.5"
anyhow = { workspace = true }
thiserror = { workspace = true }
bincode = { workspace = true, optional = true }
petgraph = { workspace = true }
serde_json = { workspace = true, features = ["arbitrary_precision"] }
serde = { workspace = true, features = ["derive"] }
once_cell = { workspace = true }
json_dotpath = { workspace = true }
fixedbitset = "0.4.2"
futures = { workspace = true }
rquickjs = { version = "0.4.3", features = ["macro", "loader", "rust-alloc"] }
itertools = "0.12.1"
zen-expression = { path = "../expression", version = "0.20.0" }
zen-template = { path = "../template", version = "0.20.0" }

[dev-dependencies]
tokio = { version = "1.35.1", features = ["rt", "macros"] }
criterion = { workspace = true, features = ["async_futures"] }

[features]
bincode = ["dep:bincode"]

[[bench]]
harness = false
name = "engine"