[package]
name = "zen-engine"
version = "0.1.2"
edition = "2021"
license = "MIT"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
async-recursion = "1.0.2"
anyhow = { workspace = true }
thiserror = { workspace = true }
async-trait = { workspace = true }
bincode = { workspace = true, optional = true }
serde_json = { workspace = true, features = ["arbitrary_precision"] }
serde = { version = "1", features = ["derive"] }
serde_v8 = { version = "0.78.0" }
once_cell = { version = "1.17.1" }
futures = "0.3.26"
v8 = { version = "0.60.1" }
zen-vm = { path = "../vm" }

[dev-dependencies]
tokio-test = "0.4.2"
criterion = { workspace = true, features = ["async_futures"] }

[features]
bincode = ["dep:bincode"]

[[bench]]
harness = false
name = "engine"