[package]
authors = ["GoRules Team <bot@gorules.io>"]
description = "Business rules engine"
name = "zen-engine"
license = "MIT"
version = "0.4.1"
edition = "2021"
repository = "https://github.com/gorules/zen.git"

[lib]
doctest = false

[dependencies]
async-recursion = "1.0.4"
anyhow = { workspace = true }
thiserror = { workspace = true }
async-trait = { workspace = true }
bincode = { workspace = true, optional = true }
serde_json = { workspace = true, features = ["arbitrary_precision"] }
serde = { version = "1", features = ["derive"] }
serde_v8 = { version = "0.88.0" }
once_cell = { version = "1.17.1" }
futures = "0.3.27"
v8 = { version = "0.66.0" }
zen-expression = { path = "../expression", version = "0.4.1" }

[dev-dependencies]
tokio = { version = "1.28", features = ["macros"] }
criterion = { workspace = true, features = ["async_futures"] }

[features]
bincode = ["dep:bincode"]

[[bench]]
harness = false
name = "engine"