[package]
name = "zen-python"
version = "0.23.0"
edition = "2021"
license = "MIT"
publish = false

[lib]
name = "zen"
crate-type = ["cdylib"]

[dependencies]
async-trait = { workspace = true }
anyhow = { workspace = true }
pyo3 = { version = "0.20", features = ["anyhow", "serde"] }
pythonize = "0.20"
json_dotpath = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
futures = { workspace = true }
zen-engine = { path = "../../core/engine" }
zen-expression = { path = "../../core/expression" }
zen-tmpl = { path = "../../core/template" }
pyo3-asyncio = { version = "0.20.0", features = ["tokio-runtime"] }
