[package]
name = "zen-python"
version = "0.17.0"
edition = "2021"
license = "MIT"
publish = false

[lib]
name = "zen"
crate-type = ["cdylib"]

[dependencies]
async-trait = "0.1.74"
anyhow = "1.0.75"
pyo3 = { version = "0.20.0", features = ["anyhow", "serde"] }
pythonize = "0.20.0"
serde = "1.0.193"
serde_json = "1.0.108"
futures = "0.3.29"
zen-engine = { path = "../../core/engine" }
zen-expression = { path = "../../core/expression" }