[package]
name = "zen-python"
version = "0.7.0"
edition = "2021"
license = "MIT"
publish = false

[lib]
name = "zen"
crate-type = ["cdylib"]

[dependencies]
async-trait = "0.1.68"
anyhow = "1.0.71"
pyo3 = { version = "0.18.3", features = ["anyhow", "serde"] }
pythonize = "0.18.0"
serde = "1.0.163"
serde_json = "1.0.96"
futures = "0.3.28"
zen-engine = { path = "../../core/engine" }